---
layout: default
title: Cameras
permalink: /cameras/
index: 6
---

<h2>cameras</h2>

{% assign sc = site.cameras | sort: 'index' %}

{% for c in sc %}

{% if c.display != false %}

	<a href="{{ site.url }}{{ c.camera }}" alt="{{ c.title }}"> 

	<div class="gallery-card">
	    
	      <img src="{{ site.url }}{{ c.image }}" />
	      <div class="bottom-left {{ c.textcolor }} ">{{ c.title }}</div>

	</div>
	</a>


{% endif %}

{% endfor %}




