---
layout: default
---

<div class="off">
{{ site.description }}
</div>

<div class="home">

{% assign sg = site.galleries | sort: 'index' %}

{% for g in sg %}

{% if g.display != false %}
	<a href="{{ site.url }}{{ g.url }}" alt="{{ g.title }}"> 

	<div class="gallery-card">
	    
	      <img src="{{ site.url }}{{ g.image }}" />
	      <div class="bottom-left {{ g.textcolor }} ">{{ g.title }}</div>

	</div>
	</a>
{% endif %}

{% endfor %}


</div>
