<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li>

<span class="obfuscate">
<a href="mailto:{{ site.email }}"><span>null</span>{{ site.email }}</a>
</li>
          <li><small>&copy; 2010-2022 All Rights Reserved</small></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">

          {% if site.instagram_username %}
          <li>
            {% include icon-instagram.html username=site.instagram_username  %}
          </li>
          {% endif %}

          {% if site.ello_username %}
          <li>
             {% include icon-ello.html username=site.ello_username %}         
          </li>
          {% endif  %}



        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
